.container-footer {
  background-color: black;
  text-align: center;
  font-size: 35px;
  padding: 60px;
}


.fa-brands {
  color: lightgreen;
  display: inline;
  padding-left: 10px;
}

.links p {
  color: grey;
  font-size: 15px;
}

.fa-regular {
  color: red;
}
